<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="static/style1.css">
        <link rel="stylesheet" href="static/audio.css">
    </head>
    <body>
    <section>

   <nav>
    <h1>Project</h1>
  
   </nav>
        
        {% if redirect %}
        <script>
            var a=('{{redirect}}');
            setTimeout(function() {
                window.location.href = a;
            }, 1000); // 20 seconds
        </script>
        {% endif %}
        <center>
        <div class="column"style="margin-left:-8%;">
            <span>ORIGNAL IMAGE</span>
            {% if filename %}
            <center><img src="{{filename}}"> </center>
            {% endif %}
        </div>
      </center>
        <div class="card" style="margin-left:25%;margin-top: 5%;">
          <div class="card-inner">{% if msg %}{{msg}}{% endif %}</div>
      </div>
       
        <h2></h2>
	
        
    
           
    </body>
</html>
